# 항목 추가시 Engine/Utility/EngineMecro 수정

[Window]
title = "Game"

[Engine]
worldRatio = 100.0f
inverseWorldRatio = 0.01f

[Graphics]
# 1 / 255
inverseByte = 0.00392156f

[GameObject]
gameObjectName = "GameObject"
mainCameraGameObjectName = "MainCamera"

[ConfigPath]
resourceConfigPath = "Config/ResourceConfig.cfg"
optionConfigPath = "Config/Option.cfg"