# 항목 추가시 Engine/Utility/ResourceMecro 수정

[ResourceDataFilePath]
shaderDataFilePath = "Resources/ShaderData.json"
textureDataFilePath = "Resources/TextureData.json"
spriteDataFilePath = "Resources/SpriteData.json"

[ShaderCompile]
vertexShaderVersion = "vs_5_0"
pixelShaderVersion = "ps_5_0"
shaderMainFunction = "main"